html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1f24;
}

.img1 {
    width: 70px;
    margin-right: 5px;
    user-select: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    user-select: none;
}

.circle {
    position: relative;
    border-radius: 50%;
}

.img2 {
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    /* ✅ пробел удалён */
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
    /* ✅ удалена лишняя 's' */
    user-select: none;
}

.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #4feb07 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}